<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>COMMAND_LIST</key>
	<array>
		<dict>
			<key>COMMAND</key>
			<array>
			</array>
			<key>EXECUTION_MODE</key>
			<string>exe_popen</string>
			<key>NAME</key>
			<string>Delta</string>
			<key>NEXT_COMMAND_ID</key>
			<string>delta.new</string>
			<key>REQUIRED_MAC_OS_MIN_VERSION</key>
			<string>10.15</string>
			<key>REQUIRED_OMC_VERSION</key>
			<string>4.2.0</string>
			<key>VERSION</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>COMMAND</key>
			<array>
			</array>
			<key>COMMAND_ID</key>
			<string>delta.new</string>
			<key>EXECUTION_MODE</key>
			<string>exe_popen</string>
			<key>NAME</key>
			<string>Delta</string>
			<key>NIB_DIALOG</key>
			<dict>
				<key>INIT_SUBCOMMAND_ID</key>
				<string>delta.init</string>
				<key>IS_BLOCKING</key>
				<false/>
				<key>IS_COCOA</key>
				<true/>
				<key>NIB_NAME</key>
				<string>Delta</string>
			</dict>
			<key>REQUIRED_MAC_OS_MIN_VERSION</key>
			<string>10.15</string>
			<key>REQUIRED_OMC_VERSION</key>
			<string>4.2.0</string>
		</dict>
		<dict>
			<key>COMMAND_ID</key>
			<string>delta.init</string>
			<key>EXECUTION_MODE</key>
			<string>exe_script_file</string>
			<key>NAME</key>
			<string>Delta</string>
		</dict>
		<dict>
			<key>COMMAND_ID</key>
			<string>delta.validate.input</string>
			<key>EXECUTION_MODE</key>
			<string>exe_script_file</string>
			<key>NAME</key>
			<string>Delta</string>
			<key>NEXT_COMMAND_ID</key>
			<string>delta.save.as</string>
		</dict>
		<dict>
			<key>COMMAND</key>
			<array>
				<string>"$OMC_OMC_SUPPORT_PATH/pasteboard" "DELTA_OUT_TSV" put "$OMC_DLG_SAVE_AS_PATH"</string>
			</array>
			<key>COMMAND_ID</key>
			<string>delta.save.as</string>
			<key>EXECUTION_MODE</key>
			<string>exe_popen</string>
			<key>NAME</key>
			<string>Delta</string>
			<key>NEXT_COMMAND_ID</key>
			<string>delta.generate.report</string>
			<key>SAVE_AS_DIALOG</key>
			<dict>
				<key>DEFAULT_FILE_NAME</key>
				<array>
					<string>delta-report.tsv</string>
				</array>
				<key>MESSAGE</key>
				<string>Generated TSV file location</string>
				<key>USE_PATH_CACHING</key>
				<false/>
			</dict>
		</dict>
		<dict>
			<key>COMMAND_ID</key>
			<string>delta.generate.report</string>
			<key>EXECUTION_MODE</key>
			<string>exe_script_file</string>
			<key>NAME</key>
			<string>Delta</string>
			<key>PROGRESS</key>
			<dict>
				<key>TITLE</key>
				<string>Comparing Folders...</string>
				<key>DELAY</key>
				<real>3.0</real>
			</dict>
		</dict>
		<dict>
			<key>COMMAND_ID</key>
			<string>delta.mode.choice.change</string>
			<key>EXECUTION_MODE</key>
			<string>exe_script_file</string>
			<key>NAME</key>
			<string>Delta</string>
		</dict>
	</array>
	<key>VERSION</key>
	<integer>2</integer>
</dict>
</plist>
